<!DOCTYPE html>
<html>
	<head>
		<style>
		.mt{
			margin-top:3%;
		}
		.ml{ 
			margin-left:10%;
		}
		.mr{
			margin-right:10%;
		}
		.c{
			background-color:#BCB;
		}
		.gml{
			color:green;
			margin-left:10%;
		}
		.rml{
			color:red;
			margin-left:10%;
		}
		.tc{
			text-align: "center";
		}
		</style>
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<nav class="mt ml">
			<a href="/">Home</a>
			<a href="/users/add">Add new Users</a>
			<a href="/users">All Users list</a>
			</nav>
		</div>
		<h4 class="ml"><%= title %></h4>
		